name: Cargo build

on:
  workflow_call:
    inputs:
      upload_artifacts:
        required: true
        type: boolean
      runs_on:
        required: false
        type: string
        description: 'Machine type where the workflow will be run'
        default: gh-ubuntu-2404-x64
      parachain-collator-artifact:
        required: false
        type: string
        description: 'Parachain collator artifact name'
        default: parachain-collator
      parachain-runtime-artifact:
        required: false
        type: string
        description: 'Parachain runtime artifact name'
        default: parachain-runtime
      parachain-test-runtime-artifact:
        required: false
        type: string
        description: 'Parachain test runtime artifact name'
        default: parachain-test-runtime

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-build:
    runs-on: ${{ inputs.runs_on }}
    timeout-minutes: 90
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.84.1
          components: rustfmt, clippy
          target: wasm32-unknown-unknown
          override: true
          default: true

      - name: Restore cargo cache - common
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ inputs.runs_on }}-cargo-common-${{ hashFiles('**/Cargo.lock') }}

      - name: Set up cargo cache - build
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            target/
          key: ${{ inputs.runs_on }}-cargo-build-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --locked --release

      - name: AvN Parachain collator Artifact
        if: ${{ inputs.upload_artifacts }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.parachain-collator-artifact }}
          path: target/release/avn-parachain-collator
          if-no-files-found: error
          retention-days: 7

      - name: AvN Parachain runtime Artifact
        if: ${{ inputs.upload_artifacts }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.parachain-runtime-artifact }}
          path: target/release/wbuild/avn-parachain-runtime/avn_parachain_runtime.compact.compressed.wasm
          if-no-files-found: error
          retention-days: 7

      - name: AvN Parachain Test runtime Artifact
        if: ${{ inputs.upload_artifacts }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.parachain-test-runtime-artifact }}
          path: target/release/wbuild/avn-parachain-test-runtime/avn_parachain_test_runtime.compact.compressed.wasm
          if-no-files-found: error
          retention-days: 7
