name: Cargo Test

on:
  workflow_call:
    inputs:
      runs_on:
        required: false
        type: string
        description: 'Machine type where the workflow will be run'
        default: gh-ubuntu-2404-x64
      fetch-depth:
        required: false
        type: number
        default: 1
      ref:
        required: false
        type: string
        default: ''
      repository:
        required: false
        type: string
        default: ''

jobs:
  ci:
    runs-on: ${{ inputs.runs_on }}
    timeout-minutes: 90
    
    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          fetch-depth: ${{ inputs.fetch-depth }}
          ref: ${{ inputs.ref }}
          repository: ${{ inputs.repository }}

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2023-05-22
          components: rustfmt, clippy
          target: wasm32-unknown-unknown
          override: true
          default: true

      - name: Restore cargo cache - common
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ inputs.runs_on }}-cargo-common-${{ hashFiles('**/Cargo.lock') }}

      - name: Linting check
        run: cargo fmt --all --check

  test:
    name: Test Code
    runs-on: ${{ inputs.runs_on }}    
    needs: ci
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: ${{ inputs.fetch-depth }}
          ref: ${{ inputs.ref }}
          repository: ${{ inputs.repository }}

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.84.1
          components: rustfmt, clippy
          target: wasm32-unknown-unknown
          override: true
          default: true


      - name: Restore cargo cache - common
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ inputs.runs_on }}-cargo-common-${{ hashFiles('**/Cargo.lock') }}

      - name: Restore cargo cache - test
        uses: actions/cache@v3
        with:
          path: |
            target/
          key: ${{ inputs.runs_on }}-cargo-test-${{ hashFiles('**/Cargo.lock') }}      

      - name: Test Code
        run: cargo test

  runtime-benchmarks:
    name: Runtime Benchmarks
    runs-on: ${{ inputs.runs_on }}    
    needs: ci
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: ${{ inputs.fetch-depth }}
          ref: ${{ inputs.ref }}
          repository: ${{ inputs.repository }}

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.84.1
          components: rustfmt, clippy
          target: wasm32-unknown-unknown
          override: true
          default: true


      - name: Restore cargo cache - common
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ inputs.runs_on }}-cargo-common-${{ hashFiles('**/Cargo.lock') }}

      - name: Restore cargo cache - runtime benchmarks
        uses: actions/cache@v3
        with:
          path: |
            target/
          key: ${{ inputs.runs_on }}-runtime-benchmarks-${{ hashFiles('**/Cargo.lock') }}      

      - name: Runtime Benchmarks
        run: cargo test --features runtime-benchmarks -- benchmarks
